@import '../../marketplace.css';

.root {
  margin-left: 24px;
    margin-right: 24px;
}

.select {
  color: var(--matterColorAnti);
  border-bottom-color: var(--attentionColor);
  padding-right: 20px;
  font-weight: 300;

  & > option {
    color: var(--matterColor);
  }
  & > option:disabled {
    color: var(--matterColorAnti);
  }

  &:disabled {
    border-bottom-color: var(--matterColorNegative);
    color: var(--matterColorNegative);
    cursor: default;
  }
}

.selectSuccess {
  color: var(--matterColor);
  border-bottom-color: var(--successColor);
}

.selectError {
  border-bottom-color: var(--failColor);
}

.mobileMargins {
  width: calc(100% - 48px);
  margin: 12px 24px 0 24px;

  @media (--viewportMedium) {
    width: 100%;
    margin: 12px 0 0 0;
  }
}